{% extends "layouts/main.html" %}

{% block title %}
    index
{% endblock %}

{% block body %}
<a class="btn btn-primary mb-2" href="{% url 'create' %}">Add Book</a>

{% if request.user.is_authenticated %}
    <div class="bg-light rounded rounded-sm m-1 p-1">
        <h5 class="card-title">username: {{ request.user }}</h5>
        <a class="btn btn-warning" href="{% url 'logout' %}">Log Out</a>
    </div>
{% else %}
    <div  class="m-1">
        <a class="btn btn-warning" href="{% url 'login' %}">Log In</a>
    </div>
{% endif %}
<table class="table table-hover bg-light rounded rounded-sm">
  <thead>
    <tr>
      <th scope="col">#ID</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Controls</th>
    </tr>
  </thead>
  <tbody>
          {% for book in books %}
                <tr>
                    <td>{{ book.id }}</td>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>
                        <a class="btn btn-info" href="{% url 'show' book.id %}">details</a>
                        <a class="btn btn-success" href="{% url 'edit' book.id %}">Edit</a>
                        <a class="btn btn-danger" href="{% url 'delete' book.id %}">Delete</a>
                    </td>
                </tr>
        {% endfor %}
  </tbody>
</table>

{% endblock %}
